<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwman.dao.RolePermitMapper">
  <update id="update" parameterType="java.util.Map" >
    UPDATE sys_role_permit
      <include refid="UPDATE_SQL"/>
    WHERE id=#{id}
  </update>

    <insert id="insert" parameterType="java.util.Map">
        INSERT  INTO
        sys_role_permit
        (
id,
role_id,
permit_id,
create_user,
create_time,
remark

        )
        VALUES
        (
#{id},
#{roleId},
#{permitId},
#{createUser},
#{createTime},
#{remark}

        )
    </insert>
  <delete id="deleteById" parameterType="java.lang.Long">
    DELETE  FROM sys_role_permit
    WHERE ID=#{id}
  </delete>

  <select id="findById" parameterType="java.lang.Long" resultType="java.util.Map">
    SELECT * FROM sys_role_permit
    WHERE ID=#{id}
  </select>

  <select id="findAllByParam" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
    <include refid="COLUMN_SQL"/>
    FROM sys_role_permit
    WHERE 1 =1
    <include refid="WHERE_SQL"/>
  </select>

  <select id="findCount" parameterType="java.util.Map" resultType="java.lang.Long">
    select COUNT(1) from sys_role_permit
    WHERE  1=1
    <include refid="WHERE_SQL"/>
  </select>

  <select id="findAllByPageParam" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
    <include refid="COLUMN_SQL"/>
    FROM sys_role_permit
    WHERE 1=1
    <include refid="WHERE_SQL"/>
  </select>

  <select id="findCountByPageParam" parameterType="java.util.Map" resultType="java.lang.Long">
    SELECT COUNT(1) size
    FROM sys_role_permit
    WHERE 1=1
    <include refid="WHERE_SQL"/>
  </select>

  <sql id="COLUMN_SQL">
id as id,
role_id as roleId,
permit_id as permitId,
create_user as createUser,
create_time as createTime,
remark as remark

  </sql>

  <sql id="WHERE_SQL">
<if test="id != null">  AND id = #{id}  </if>
<if test="roleId != null">  AND role_id = #{roleId}  </if>
<if test="permitId != null">  AND permit_id = #{permitId}  </if>
<if test="createUser != null">  AND create_user = #{createUser}  </if>
<if test="createTime != null">  AND create_time = #{createTime}  </if>
<if test="remark != null">  AND remark = #{remark}  </if>

  </sql>

  <sql id="UPDATE_SQL">
      <set>
<if test="id!=null">   id=#{id}, </if>
<if test="roleId!=null">   role_id=#{roleId}, </if>
<if test="permitId!=null">   permit_id=#{permitId}, </if>
<if test="createUser!=null">   create_user=#{createUser}, </if>
<if test="createTime!=null">   create_time=#{createTime}, </if>
<if test="remark!=null">   remark=#{remark} </if>

      </set>
  </sql>
</mapper>
